* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow: scroll;
    font-family: 'PT Sans', sans-serif;
    color: #080808;
}

.wrapper {
    margin: 0 auto;
}

/* mobile */

/* header */

.hero {
    background-color: #0072bc;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #0072bc;
    margin: 0 auto;
}

.header-left,
.header-right {
    display: flex;
    justify-content: center;
}

.header-left {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-right {
    background-color: #f26522;
    color: #fff; 
}

.offer-link {
    color: #fdfafa;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: normal;
    padding: 20px;
    text-align: center; 
    width: 100%;
}

.header-left-text {
    position: relative;
    top: 35px;
    left: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: normal;
    font-style: normal;
}

/* main */

.main {
    margin: 20px 10px;
}

.main-text {
    text-align: center;
}

.main-text-title {
    margin: 0 0;
    font-weight: 700;
    font-size: 23px;
}

.main-text-subtitle {
    padding-top: 20px;
    font-weight: 400;
    line-height: 20px;
}

.offers {
    padding-top: 20px;
}

.offers-text {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.current-offers-set-description {
    white-space: pre-line;
}

.current-offers-set-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: fill;
}

.current-offers-set {
    border: 2px solid #acacac;
    border-radius: 10px;
    margin: 20px 0px;
    overflow: hidden;
}

.current-offers-set:hover {
    border: 2px solid #f26522;
}

.current-offers-set-title {
    color: #8e0000;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
}

.current-offers-set-description {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.32px;
}

.active-link {
    display: inline-block;
    color: #06811a;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding: 30px 0px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.link,
a.link:visited,
a.link:active {
    text-decoration: none;
}

.disabled-link {
    display: inline-block;
    pointer-events: none; 
    cursor: default;
    color: #444444;
    font-size: 17px;
    font-weight: 700;
    padding: 30px 0px;
}

/* profitable offers */

.nice-offers {
    background-color: #6dcff6;
}

.profitable-offers {
    padding: 30px 0px;
}

.profitable-offers-title {
    text-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    padding-bottom: 30px;
}

.illustration {
    padding-bottom: 20px ;
}

/* slider stick */

.slider {
    display: block;
    position: relative;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-list {
    overflow: hidden;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}
.slider .slick-dots button {
    font-size: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #fff;
} 

.slick-arrow {
    position: absolute;
    bottom: -2%;
    z-index: 10;
    font-size: 0;
    width: 15px;
    height: 25px;
    border: none;
}

.slick-prev {
    background: url(../images/left-arrow.webp) 0 0 / 100% no-repeat;
    background: url(../images/left-arrow.png) 0 0 / 100% no-repeat;
    left: 20%;
}

.slick-next {
    background: url(../images/right-arrow.webp) 0 0 / 100% no-repeat;
    background: url(../images/right-arrow.png) 0 0 / 100% no-repeat;
    right: 20%;
}

.illustration-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: fill;
}

/* footer */

.footer {
    padding: 26px 0px;
}

.footer-text {
    display: block;
    text-align: center;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
}

/* mobile L */

@media (min-width: 425px) {
    .current-offers-set-img {
        display: block;
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    .current-offers {
        display: flex;
        flex-flow: column wrap;
        align-content: space-around;
    }
}

/* tablet */

@media (min-width: 768px) {
    .header {
        position: relative;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .header-left {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .header-right {
        background-color: #0072bc;
        color: #fff; 
    }

    .offer-link {
        display: inline-block;
        font-size: 18px;
        margin: 17px 5px;
        padding: 17px 45px;
        text-align: center; 
        background-color: #f26522;
    }
    
    .header-left-text {
        position: relative;
        top: 35px;
        left: 10px;
        color: #ffffff;
        font-size: 22px;
    }

    .main {
        margin: 40px 10px;
    }

    .slick-prev {
        left: 35%;
    }
    
    .slick-next {
        right: 35%;
    }

    .slick-arrow {
        bottom: -3%;
        width: 20px;
        height: 35px;
    }

    .slider .slick-dots button {
        width: 25px;
        height: 25px;
    } 
}

@media (min-width: 1200px) {
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 1200px;
    }

    .header-left-text {
        font-size: 32px;
        top: 25px;
        left: 10px;
    }

    .offers-text {
        text-align: start;
        font-size: 30px;
    }

    .offer-link {
        font-size: 22px;
    }

    .current-offers {
        flex-direction: row;
        align-content:space-around;
        overflow: hidden;
    }

    .current-offers-set:not(:last-child) {
        margin-right: 20px;
    }

    .main {
        width: 1200px;
        margin: 0 auto;
    }

    .main-text {
        padding-top: 50px;
    }

    .main-text-title {
        /* padding-bottom: 7px; */
        font-size: 45px;
    }

    .main-text-subtitle {
        width: 750px;
        margin: 0 auto;
        font-size: 30px;
        padding-bottom: 52px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 34px;
    }

    .profitable-offers-title {
        margin: 20px;
        font-size: 45px;
    }

    .profitable-offers {
        padding: 30px 20px;
        width: 900px;
        margin: 0 auto;
    }

    .slick-arrow {
        bottom: 0%;
        width: 30px;
        height: 46px;
    }
    
    .slick-prev {
        left: 30%;
    }
    
    .slick-next {
        right: 30%;
    }

    .slider .slick-dots button {
        width: 50px;
        height: 50px;
    }
    
}